@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --primary-color: #6558c3;
  --black-color: #111111;
}

* {
  font-family: "Roboto";
}

header > div {
  background: var(--black-color);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

div > nav {
  margin-bottom: 10px;
}

div > nav > a {
  color: #ffff;
  font-size: 16px;
  text-decoration: none;
  margin-left: 8px;
}

header img {
  background: #ccc;
  padding: 5px;
  border-radius: 4px;
  margin: 5px 0 5px 5px;
  margin: 10px 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 940px;
  max-width: 100%;
  align-items: flex-start;
  justify-content: center;
  margin: 32px auto;
}

/* == Form Header == */
.send-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.send-header > h3 {
  font-size: 28px;
  font-weight: bold;
  color: var(--black-color);
  flex-basis: 80%;
}

.send-header > button {
  flex-basis: 20%;
  height: 36px;
  color: #ffff;
  background: var(--primary-color);
  font-weight: bold;
  border-radius: 4px;
  border: none;
}

.send-header > button:hover {
  cursor: pointer;
}

/* === Form Area=== */
.form-input {
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 32px;
}

.item input {
  height: 48px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 100%;
}

.item input::placeholder {
  padding-left: 5px;
}

.item input:focus {
  outline: 1px solid var(--primary-color);
}

.last > input {
  height: 240px;
}

.item label {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

form > div + button {
  font-size: 16px;
  color: var(--primary-color);
  border: none;
  background: #ffff;
  align-self: start;
  font-weight: bold;
  cursor: pointer;
  margin-top: 12px;
}

#ingredient .add-input,
#prepared .add-input {
  color: #6558c3;
  font-size: 16px;
  border: none;
  margin-top: 8px;
  padding: 5px;
}

/* === Index ADM === */
.container-index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 940px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  margin: 32px auto;
}

.title-admin {
  margin: 32px auto;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}
.image-index img {
  width: 232px;
  height: 80px;
  border-radius: 8.5px;
}

.card-index {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  margin-right: 8px;
}
.index-details {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.index-details span {
  margin-bottom: 5px;
}

.index-details span:first-child {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  font-family: "Roboto";
}

.index-details span:nth-child(2) {
  font-size: 14px;
  line-height: 20px;
  color: #bbbb;
  font-family: "Roboto";
}

.index-details a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

/* === FOOTER === */
footer {
  width: 100%;
  background-color: #eeeeee;
  margin: 5em 0 0 0;
  vertical-align: middle;
  position: absolute;
  left: 0;
  height: 40px;
}

footer p {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  padding: 0.3em 0 0.3em 0;
}

/* === SHOW PAGE === */
.container-show {
  display: flex;
  flex-direction: column;
  margin: 32px auto;
  width: 940px;
  max-width: 100%;
  padding: 8px;
}

.header-show {
  display: grid;
  grid-template-columns: 5fr 1.5fr;
  width: 100%;
  margin-bottom: 12px;
  height: 36px;
}

.title-show > h3 {
  align-content: flex-start;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  justify-self: flex-start;
}

.link-show {
  display: flex;
  background: var(--primary-color);
  justify-content: center;
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
}

.link-show > a {
  color: #ffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  align-self: center;
}

.image-show {
  max-height: 100%;
  border-radius: 15px;
  width: 940px;
  max-width: 100%;
}
.image-show > img {
  width: 100%;
  height: 282px;
  max-height: 100%;
}

.bigtitle-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.bigtitle-show > h3 {
  font-size: 36px;
  line-height: 42px;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 12px;
}

.bigtitle-show > h6 {
  font-family: "Roboto";
  font-size: 20px;
  line-height: 24px;
  color: #777777;
}

.ingredients-show,
.preparation-show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.ingredients-show > h3,
.preparation-show > h3,
.info-show > h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 12px;
  color: var(--black-color);
}

.ingredients-show ul li,
.preparation-show ul li,
.info-show > p {
  font-size: 16px;
  color: #444444;
  line-height: 28px;
  font-family: "Roboto";
}
