@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');

:root {
  --color-dark: #111111
}


body {
  width: 940px;
  margin: 2vh auto;
  font-family:'Roboto', sans-serif;
  box-sizing: border-box;
}

#navbar {
  display: inline-block;
  margin: 0 0 0 100px;
  font-size: 16px;
  line-height: 19px;
}

nav a {
  padding: 0 10px;
  text-decoration: none;
  color: var(--color-dark);
}

.container {
  margin-top: 3em;
}

.image img {
  border-radius: 15px;
}

.title {
  text-align: center;
  margin-top: 10px;
}

.title small {
  color: #777777;
}

.title h2 {
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 5px;
  font-weight: bold;
}
 
p , li {
  color: #444444;
}


h3 {
  font-size: 24px;
  line-height: 34px;
  font-weight: bolder;
  margin: 1em 0 1em 0;
}

span {
  font-size: 11px;
  line-height: 13px;
  color: #777777;
  text-transform: uppercase;
  padding-left: 5px;
}

.show ul li {
  list-style: disc;
  list-style-position: inside;
}

.hide {
  display:none;
  visibility: hidden;
}


footer {
  width: 100%;
  background-color: #eeeeee;
  margin: 5em 0 0 0;
  vertical-align: middle;
  position: absolute;
  left: 0;
  height: 40px;
}

footer p {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  padding: 0.3em 0 0.3em 0;
}

