{% extends "layout.njk" %}

{% block header %}

<div class="links-desafios">
  <a href="/teachers">Teachers</a>
  <a href="/students">Students</a>
</div>
{% endblock header %}

{%block content%}
  <div class="card table-container">
  <a href="/students/create">Novo</a>
    <table width="100%">
      <thead>
        <tr class="tr-students">
          <th class="head">Nome Completo</th>
          <th class="head">E-mail</th>
          <th class="head">Ano Escolar</th>
          <th class="head">Ação</th>
      </thead>
          <tbody>
            {% for student in students %}
              <tr class="tr-students">
                <td><span style="background-image: url({{student.avatar_url}})"></span>{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.grade}}</td>
                <td><a href="/students/{{student.id}}">ver</a></td>
              </tr>
            {% endfor %}
          </tbody>
    </table>
  </div>
{%endblock content%}