{% extends "layout.njk" %}

{% block header %}

<div class="links-desafios">
  <a href="/teachers">Teachers</a>
  <a href="/students">Students</a>
</div>
{% endblock header %}

{%block content%}
  <div class="card-teacher">
  <section class="avatar-teacher" style="background: url({{student.avatar_url}}) no-repeat center center / cover">

  </section>

  <section class="details-teacher">

    <h3>Detalhes</h3>

    <div class="itens">
      <div>Nome do estudante</div>
      <div>{{student.name}}</div>
    </div>

    <div class="itens">
      <div>E-mail</div>
      <div>{{student.email}}</div>
    </div>

    <div class="itens">
      <div>Aniversário</div>
      <div>{{student.birth}}</div>
    </div>

    <div class="itens">
      <div>Grau de Escolaridade</div>
      <div>{{student.grade}}</div>
    </div>

    <div class="itens">
    <div>Horas contratadas por semana</div>
      <div>
        {{student.hours}}
      </div>
    </div>

    <div class="itens">
      <div>Professor</div>
      <div>{{student.teacher_name}}</div>
    </div>

    <div class="itens">
      <div>Desde</div>
      <div>{{student.created_at}}</div>
    </div>


    <a href="/students/{{student.id}}/edit" class="button">Editar</a>

  </section>


  </div>
{%endblock content%}