@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  opacity: 0.8;
  background-image: url(noite-estrelada.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding: 30px;
}

header div ul a {
  margin: 0 30px 0 0;
  text-decoration: none;
  line-height: 30px;
  font-size: 20px;
  font-weight: bolder;
  color: #ffffff;
}

div {
  text-align: center;
  border-radius: 10px;
}

a:hover {
  text-decoration: underline;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  gap: 10px;
  margin: 0 auto
}

.number-card {
  border: 2px solid #7159C1;
  width: 40px;
  height: 40px;
  margin: 10px auto;
  border-radius: 50%;
}

.number-card p {
  text-align: center;
  margin: 0 auto;
}

.card {
  width: 400px;
  margin: 100px auto;
  height: 600px;
  border: 2px solid #7159C1;
  text-align: center;
}

.card img {
  margin: 60px 0;
}

.card p {
  color:#ffffff;
  padding: 10px;
  font-weight: bolder;
  font-size: 20px;
  line-height: 30px;
}