<!DOCTYPE html>
<html lang="pt-br">

{%block head%}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <title>Gym Manager</title>
</head>
{%endblock%}


<body>



  <header>
    
  {%block header%}
  {%endblock%}
  
  </header>

  {%block content%}
  {%endblock%}
  
</body>
</html>