{% extends "layout.njk" %}

{% block header %}

<div class="links-desafios">
  <a href="/" class="active">Teachers</a>
  <a href="/members">Students</a>
</div>
{% endblock header %}

{%block content%}
  <form action="/desafios" method="POST" class="card-teacher">
    <section class="avatar-teacher" style="background: url(https://source.unsplash.com/collection/8360382/400x400) no-repeat center center / cover">

    </section>

    <section class="details-teacher">

      <h3>Editar Professor</h3>
      
      {%include 'desafios/form.njk'%}
      
    </section>


  </form>
{%endblock content%}