{% extends "layout.njk" %}

{% block header %}

<div class="links-desafios">
  <a href="/" class="active">Teachers</a>
  <a href="/members">Students</a>
</div>
{% endblock header %}

{%block content%}
  Desafios
{%endblock content%}