{% extends "layout.njk" %}

{% block header %}

<div class="links-desafios">
  <a href="/teachers">Teachers</a>
  <a href="/students">Students</a>
</div>
{% endblock header %}

{%block content%}
  <div class="card table-container">
    <table width="100%">
      <thead>
        <tr>
          <th class="head">Nome Completo</th>
          <th class="head">Acompanhamento</th>
          <th class="head">Ação</th>
      </thead>
          <tbody>
            {% for student in students %}
              <tr>
                <td><span style="background-image: url({{student.avatar_url}})"></span>{{student.name}}</td>
                <td class="spans">
                  {% for lession in student.lessioning %}
                    <span>{{lession}}</span>
                  {% endfor %}
                </td>
                <td><a href="/desafios/{{instructor.id}}">ver</a></td>
              </tr>
            {% endfor %}
          </tbody>
    </table>
  </div>
{%endblock content%}