{% extends "layout.njk" %}

{% block header %}

<div class="links-desafios">
  <a href="/teachers">Teachers</a>
  <a href="/students">Students</a>
</div>
{% endblock header %}

{%block content%}
  <div class="card table-container">

  <div class="header">
      <a class="button" href="/teachers/create">Novo</a>
      <form action="/teachers" method="GET">
        <input type="text" 
        name="filter"
        placeholder="Filtrar por Nome ou Ensino"
        value={{filter}} />
        <button type="submit">Filtrar</button>
      </form>
    </div>

    <table width="100%">
      <thead>
        <tr class="tr-teachers">
          <th class="head">Nome Completo</th>
          <th class="head">Acompanhamento</th>
          <th class="head">Qtd. Alunos</th>
          <th class="head">Ação</th>
      </thead>
          <tbody>
            {% for teacher in teachers %}
              <tr class="tr-teachers">
                <td><span style="background-image: url({{teacher.avatar_url}})"></span>{{teacher.name}}</td>
                <td class="spans">
                  {% for lession in teacher.lessioning %}
                    <span>{{lession}}</span>
                  {% endfor %}
                </td>
                <td>{{teacher.total_students}}</td>
                <td><a href="/teachers/{{teacher.id}}">ver</a></td>
              </tr>
            {% endfor %}
          </tbody>
    </table>
  </div>
{%endblock content%}