<div class="item">
  <label for="title">Titulo da receita</label>
  <input type="text" name="title" id="title" placeholder="Digite o titulo de sua deliciosa receita...">
</div>

<div class="item">
  <label for="author">Autor</label>
  <input type="text" name="author" id="author" placeholder="Digite o seu nome aqui...">
</div>

<div class="item">
  <label for="imagem">Imagem da receita</label>
  <input type="url" name="image" id="imagem">
</div>

<div class="item" id="ingredient">
  <label for="ingred">Ingredientes</label>
  <input type="text" name="ingredients" id="ingred" placeholder="Digite um ingrediente por vez...">
</div>
<button class="add-ingredient">Adicionar novo ingrediente</button>

<div class="item" id="prepared">
  <label for="prepare">Modo de preparo</label>
  <input type="text" name="preparation" id="prepare" placeholder="Digite o passo a passo...">
</div>
<button class="add-step">Adicionar novo passo</button>

<div class="item last">
  <label for="infos">Informações adicionais</label>
  <input type="text" name="information" id="infos">
</div>