<div class="item">
  <label for="iamgem">Imagem da receita</label>
  <input type="url" name="image" id="imagem">
</div>

<div class="item">
  <label for="ingred">Ingredientes</label>
  <input type="text" name="ingred" id="ingred">
  <button>Adicionar novo ingrediente</button>
</div>

<div class="item">
  <label for="prepare">Modo de preparo</label>
  <input type="text" name="prepare" id="prepare">
  <button>Adicionar novo passo</button>
</div>

<div class="item last">
  <label for="infos">Informações adicionais</label>
  <input type="text" name="infos" id="infos">
</div>