{% extends "layout.njk"%}


{%block content%}
  <main>
    <section>

      <div id="topo">
        <div id="texto">

          <h2>As melhores receitas</h2>

          <p>Aprenda a construir os melhores pratos
            com receitas criadas por profissionais
            do mundo inteiro.</p>

        </div>
  
          <img src="./assets/chef.png" alt="Chefe" id="div-img">

      </div>

    </section>

    <section>
      
      <h3>Mais acessadas</h3>
      <div class="grid">

         <div class="itens" id="Triplo bacon burger">

          <img src="./assets/burger.png" alt="Hamburguer">
          <p>Triplo bacon burguer</p>
          <small>por Jorge Relato</small>

        </div>


        <div class="itens" id="Pizza 4 estações">

          <img src="./assets/pizza.png" alt="Hamburguer">
          <p>Pizza 4 estações</p>
          <small>por Fabiana Melo</small>

        </div>

        <div class="itens" id="Espaguete ao alho">

          <img src="./assets/espaguete.png" alt="Hamburguer">
          <p>Espaguete ao alho</p>
          <small>por Julia Kinoto</small>

        </div>

        <div class="itens" id="Lasanha mac n' cheese">

          <img src="./assets/lasanha.png" alt="Hamburguer">
          <p>Lasanha mac n' cheese</p>
          <small>por Juliano Vieira</small>

        </div>

        <div class="itens" id="Docinhos pão-do-céu">

          <img src="./assets/doce.png" alt="Hamburguer">
          <p>Docinhos pão do céu</p>
          <small>por Ricardo Golvea</small>
          
        </div>

        <div class="itens" id="Asinhas de frango ao barbecue">

          <img src="./assets/asinhas.png" alt="Hamburguer">
          <p>Asinhas de frango barbecue</p>
          <small>por Jorge Relato</small>

        </div>

      </div>
    </section>

  </main>
{%endblock%}
  