<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="./assets/logoFoodfy.ico">
  <title>Foodfy - Home</title>
</head>
<body>
  <header>
    <div>
      <a href="./"><img src="logo.png" alt="Logo Foodfy"></a>
      <nav id="navbar">
        <a href="sobre.html">Sobre</a>
        <a href="receitas.html">Receitas</a>
      </nav>
    </div>
  </header>
  <main>
    <section>

      <div id="topo">
        <div id="texto">

          <h2>As melhores receitas</h2>

          <p>Aprenda a construir os melhores pratos
            com receitas criadas por profissionais
            do mundo inteiro.</p>

        </div>
  
          <img src="./assets/chef.png" alt="Chefe" id="div-img">

      </div>

    </section>

    <section>
      
      <h3>Mais acessadas</h3>
      <div class="grid">

        <div class="itens" id="burger">

          <img src="./assets/burger.png" alt="Hamburguer">
          <p id="text">Triplo bacon burguer</p>
          <small id="small-text">por Jorge Relato</small>

          
        </div>

        <div class="itens" id="pizza">
          <img src="./assets/pizza.png" alt="Hamburguer">
          <p>Pizza 4 estações</p>
          <small>por Fabiana Melo</small>
        </div>

        <div class="itens" id="espaguete">
          <img src="./assets/espaguete.png" alt="Hamburguer">
          <p>Espaguete ao alho</p>
          <small>por Julia Kinoto</small>
        </div>

        <div class="itens" id="lasanha">
          <img src="./assets/lasanha.png" alt="Hamburguer">
          <p>Lasanha mac n' cheese</p>
          <small>por Juliano Vieira</small>
        </div>

        <div class="itens" id="doce">
          <img src="./assets/doce.png" alt="Hamburguer">
          <p>Docinhos pão do céu</p>
          <small>por Ricardo Golvea</small>
        </div>

        <div class="itens" id="asinhas">
          <img src="./assets/asinhas.png" alt="Hamburguer">
          <p>Asinhas de frango barbecue</p>
          <small>por Jorge Relato</small>
        </div>

      </div>
    </section>

    <div class="modal-overlay">

      <div class="modal">

        <a class="close-modal">
          <i class="material-icons">close</i>
        </a>
      
          <img src="" alt="" id="image">
          <p></p>
          <small></small>
      
      </div>

    </div>

  </main>

  <footer>
    <p> &copy;Todos direitos reservados, receitas Foodfy 2020</p>
  </footer>
  <script src="indexscript.js"></script>
</body>
</html>