{% extends "layout.njk"%}}

{% block content%}
  <h3 class="title-admin">Gerenciar de receitas</h3>
  <a class="create-new" href="/admin/recipes/create">Cadastrar nova</a>
  <div class="container-index">
    {% for recipe in recipes %}
      <div class="card-index">
        <div class="image-index">
          <img src="{{recipe.image}}" alt="{{recipe.title}}">
        </div>
        <div class="index-details">
          <span>{{recipe.title}}</span>
          <span>{{recipe.author}}</span>
          <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}}