{%extends "layout.njk"%}

{%block content%}

<main>

    <div id="not-found">
      <h1 id="number">404</h1>
      <i id="triste" class="material-icons">
        sentiment_very_dissatisfied
      </i>
      <h2 id="large-text">Page not Found</h2>
      <h3 id="small-text">We are working on this...</h3>
    </div>
  </main>

{%endblock%}