{%extends "layout.njk"%}

{%block content%}
  <main>
    <section>
      <div class="grid">

        <div class="itens" id="burger">

          <img src="./assets/burger.png" alt="Hamburguer">
          <p>Triplo bacon burguer</p>
          <small>por Jorge Relato</small>

        </div>


        <div class="itens" id="pizza">

          <img src="./assets/pizza.png" alt="Hamburguer">
          <p>Pizza 4 estações</p>
          <small>por Fabiana Melo</small>

        </div>

        <div class="itens" id="espaguete">

          <img src="./assets/espaguete.png" alt="Hamburguer">
          <p>Espaguete ao alho</p>
          <small>por Julia Kinoto</small>

        </div>

        <div class="itens" id="lasanha">

          <img src="./assets/lasanha.png" alt="Hamburguer">
          <p>Lasanha mac n' cheese</p>
          <small>por Juliano Vieira</small>

        </div>

        <div class="itens" id="doce">

          <img src="./assets/doce.png" alt="Hamburguer">
          <p>Docinhos pão do céu</p>
          <small>por Ricardo Golvea</small>
          
        </div>

        <div class="itens" id="asinhas">

          <img src="./assets/asinhas.png" alt="Hamburguer">
          <p>Asinhas de frango barbecue</p>
          <small>por Jorge Relato</small>

        </div>

        <div class="itens" id="burger">

          <img src="./assets/burger.png" alt="Hamburguer">
          <p>Triplo bacon burguer</p>
          <small>por Jorge Relato</small>

        </div>

        <div class="itens" id="pizza">

          <img src="./assets/pizza.png" alt="Hamburguer">
          <p>Pizza 4 estações</p>
          <small>por Fabiana Melo</small>

        </div>

        <div class="itens" id="espaguete">

          <img src="./assets/espaguete.png" alt="Hamburguer">
          <p>Espaguete ao alho</p>
          <small>por Julia Kinoto</small>

        </div>

        <div class="itens" id="lasanha">

          <img src="./assets/lasanha.png" alt="Hamburguer">
          <p>Lasanha mac n' cheese</p>
          <small>por Juliano Vieira</small>

        </div>

        <div class="itens" id="doce">

          <img src="./assets/doce.png" alt="Hamburguer">
          <p>Docinhos pão do céu</p>
          <small>por Ricardo Golvea</small>

        </div>

        <div class="itens" id="asinhas">

          <img src="./assets/asinhas.png" alt="Hamburguer">
          <p>Asinhas de frango barbecue</p>
          <small>por Jorge Relato</small>

        </div>

      </div>

    </section>

    <div class="modal-overlay">

      <div class="modal">

        <a class="close-modal">
          <i class="material-icons">close</i>
        </a>
        <img src="" alt="">
        <p></p>
        <small></small>
        
    </div>

  </main>
{%endblock%}